// Navigation code here

nav {
    .center;
    align-items: center;
    margin-top: 20px;

    @media @phone {
        width: 80%;
        margin: 0 auto;
    }


    a {
        text-decoration: none;
        color: @main-font-color;
        font-size: 2rem;
        align-items: center;
        margin-right: 30px;

        &:hover {
            text-decoration: underline;
            color: @main-font-color;

        @media @phone {
            justify-content: center;
            }
        }
    } //a ends
} // nav ends